.search-bar {
    margin-bottom: 15px;
}

.search-bar-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.search{
    background-color: transparent;
    color: azure;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    height: 38px;
    border-radius: 8px;
    border: 1px solid azure;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.search:focus {
    outline: none;
}

.filter-1 {
    grid-column: 5 / 13;
    grid-row: 1 / 2
}

.filter-2 {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
}

.inline-flex {
    display: flex;
    width: 100%;
}

.ele-btn {
    background-color: transparent;
    flex: 1;
    padding: 2px 5px;
    padding-top: 5px;
    margin: auto 5px;
    border: 1px solid azure;
    border-radius: 8px;
    cursor: pointer;
}

.ele-btn.end {
    margin-right: 0;
}

.ele-btn img {
    width: 25px;
}

.ele-btn:hover {
    background-color: rgba(153, 148, 148, 0.404);
}

.ele-btn.active {
    background-color: #666;
}

.wep-btn {
    background-color: transparent;
    flex: 1;
    padding: 9px 12px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid azure;
    border-radius: 8px;
    margin: 2px 5px;
    cursor: pointer;
    color: azure;
}

.wep-btn.start {
    margin-left: 0;
}

.wep-btn.end {
    margin-right: 0;
}

.wep-btn:hover {
    background-color: rgba(153, 148, 148, 0.404);
}

.wep-btn.active {
    background-color: #666;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .search-bar {
        margin-bottom: 15px;
    }

    .search-bar-grid {
        grid-template-rows: 38px 1fr;
    }

    .ele-btn {
        margin: auto 2px;
    }

    .wep-btn {
        margin: 2px;
    }
}

@media (max-width: 767px) and (min-width: 481px) {
    .search-bar {
        margin-bottom: 15px;
    }

    .search-bar-grid {
        grid-template-rows: 38px 1fr;
    }

    .ele-btn {
        margin: auto 2px;
    }

    .ele-btn img {
        width: 20px;
    }

    .display-none {
        display: none;
    }

    .wep-btn {
        padding: 6px 6px;
        margin: 2px;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .search-bar {
        margin-bottom: 15px;
    }

    .search-bar-grid {
        grid-template-rows: 35px 35px max-content;
    }

    .search {
        grid-column: 1 / 13;
    }

    .filter-1 {
        grid-column: 1 / 13;
        grid-row: 2 / 3
    }

    .filter-2 {
        grid-column: 1 / 13;
        grid-row: 3 / 4;
    }

    .inline-flex {
        flex-wrap: wrap;
    }

    .ele-btn {
        margin: auto 2px;
    }

    .ele-btn img {
        width: 20px;
    }

    .display-none {
        display: none;
    }

    .wep-btn {
        padding: 6px 6px;
        margin: 2px;
    }
}