.weapon-search-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

.weapon-search {
    background-color: transparent;
    color: azure;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 34px;
    border-radius: 8px;
    width: 85%;
    border: 1px solid azure;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.search:focus {
    outline: none;
}

.weapon-btn {
    background-color: transparent;
    padding: 8px 12px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid azure;
    border-radius: 8px;
    cursor: pointer;
    color: azure;
}

.weapon-btn:hover {
    background-color: rgba(153, 148, 148, 0.404);
}

.weapon-rarity select {
    background-color: transparent;
    padding: 8px 12px;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    border: 1px solid azure;
    border-radius: 8px;
    cursor: pointer;
    color: azure;
}

select>option {
    background-color: black;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
}