.weapon-search-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

.weapon-search {
    background-color: rgba(0, 0, 0, 0.5);
    color: azure;
    height: 42px;
    border-radius: 8px;
    border: 1px solid azure;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.search:focus {
    outline: none;
}

.weapon-btn {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 12px;
    font-size: 1.1rem;
    text-align: center;
    border: 1px solid azure;
    border-radius: 8px;
    cursor: pointer;
    color: azure;
}

.weapon-btn:hover {
    background-color: rgba(153, 148, 148, 0.404);
}

.weapon-rarity select {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 12px;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    border: 1px solid azure;
    border-radius: 8px;
    cursor: pointer;
    color: azure;
}

select>option {
    background-color: black;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 1024px) and (min-width: 320px) {
    .weapon-search-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .weapon-btn {
        padding: 4px 6px;
    }

    .weapon-rarity select {
        padding: 4px 6px;
    }
    
    .weapon-search {
        height: 34px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .weapon-search-grid {
        gap: 5px;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .weapon-search-grid {
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }

    .weapon-search-input, .weapon-rarity {
        grid-column: 1 / 3;
    }

    .weapon-search {
        height: 28px;
    }

    .weapon-btn {
        font-size: 16px;
        border-radius: 8px;
    }

    .weapon-rarity select {
        font-size: 16px;
        height: 28px;
    }
}