.CalcEcho-Modal-Container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(238, 238, 238, 0.692);
    z-index: 1001;
    border-radius: 12px;
    justify-content: center;
}

.overlay-echo-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1000;
}

.echo-modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    font-size: 0;
    z-index: 20000;
}

.calcEcho-modal-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: minmax(min-content, auto);
    gap: 20px;
    justify-content: center;
    width: 80vw;
    height: 70vh;
    padding: 20px;
    overflow: auto;
    border: 1px solid azure;
    z-index: 1001;
}

.calcEcho-modal-box-2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: minmax(min-content, auto);
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 1000px;
    height: 70vh;
    padding: 20px;
    overflow: auto;
    border: 1px solid azure;
    z-index: 1001;
}

.calcEcho-modal-box-3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: minmax(min-content, auto);
    gap: 20px;
    justify-content: center;
    width: 1000px;
    height: 70vh;
    padding: 20px;
    overflow: hidden;
    border: 1px solid azure;
    z-index: 1001;
}

.calcEcho-modal-store-box {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content;
    gap: 10px;
}

.calcEcho-modal-store-filter {
    width: max-content;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0;
}

.echo-filter-btn {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border: 3px solid azure;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1;
}

.echo-filter-btn-text {
    display: none;
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100px;
    background-color: #4CAF50;
    transition: left 0.5s ease-in-out;
    color: #ffffff;
    padding: 10px;
}

.echo-filter-btn:hover .echo-filter-btn-text {
    display: block;
    left: 40px;
}

.relative-box {
    position: relative;
}

.echo-modal-cards {
    display: flex;
    padding: 25px 25px;
    border-radius: 12px;
    border: 1px solid azure;
    flex-direction: column;
}

.echo-modal-cards-store {
    display: flex;
    border-radius: 12px;
    background-color: #222;
    border-bottom: 2px solid azure;
    flex-direction: column;
    font-size: 0;
}

.echo-modal-cards:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.echo-modal-cards img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    border-bottom: 2px solid white;
}

.echo-modal-cards-store:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.echo-modal-cards-store img {
    border-radius: 12px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.echo-modal-card-bottom {
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
}

.echo-modal-card-bottom h3 {
    word-wrap: normal;
    height: 2rem;
    overflow: hidden;
    font-size: 1.2rem;
}

.echo-modal-cards:hover h3 {
    word-break: normal;
    overflow: visible;
}

.echo-modal-cards:hover h3.echo-modal-card-cost {
    word-break: initial;
    overflow: hidden;
}

.echo-modal-stats {
    grid-column: 4 / 6;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
}

.echo-modal-stats-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid azure;
    position: relative;
}

.echo-stat-box-name {
    font-size: 20px;
    font-weight: 800;
}

.echo-modal-stats-box h3 {
    font-size: 18px;
    margin: 3px 10px;
}

h3.margin-box-text {
    font-size: 18px;
    margin: 3px 10px;
    flex-grow: 2;
}

h3.echo-modal-card-cost {
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: #5e5d15;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.echo-modal-cards-store:hover img.echo-modal-card-stat {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 1.3rem;
    height: 1.3rem;
    background-color: #222;
    border: 1px solid #b3b3b3;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    z-index: 1;
}

img.echo-modal-card-stat {
    display: none;
}

img.echo-modal-card-set {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.4rem;
    height: 1.4rem;
    border: 1px solid #b3b3b3;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.newEcho {
    position: absolute;
    bottom: 5px;
    left: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid #ffffff;
    background-color: #5e5d15;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.echo-select-text {
    margin: 0;
}

.no-margin {
    margin: 5px 0;
}

.echo-modal-btn-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.echo-modal-select-btn {
    height: 1.8rem;
    background-color: transparent;
    border: 1px solid azure;
    color: white;
    padding: 0 20px;
    width: 100%;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
}

.echo-modal-delete-btn {
    height: 1.8rem;
    background-color: transparent;
    border: 1px solid rgb(255, 11, 11);
    color: rgb(255, 14, 14);
    padding: 0 20px;
    width: 100%;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
}

.echo-modal-select-btn:hover {
    background-color: rgb(54, 54, 54);
}

.echo-modal-delete-btn:hover {
    background-color: rgb(54, 0, 0);
}

.CalcEcho-modal-btn {
    background-color: transparent;
    border: 1px solid azure;
    margin: 5px;
    color: white;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 4px;
}

.CalcEcho-modal-btn:hover {
    background-color: #343434;
    cursor: pointer;
}

.calcEcho-modal-add-box {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: auto;
    gap: 5px;
    padding: 5px;
}

.calcEcho-modal-add-box-2 {
    overflow: auto;
}

.calcEcho-modal-add-box-select {
    grid-column: 1 / 4;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid azure;
}

.calcEcho-modal-add-box-2 {
    grid-column: 4 / 6;
    overflow: auto;
}

.echo-modal-cards-2 {
    display: flex;
    padding: 2px;
    border-radius: 8px;
    flex-direction: column;
    font-size: 0;
}

.echo-modal-cards-2:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.echo-modal-cards-2 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.echo-modal-card-bottom-2 {
    margin-bottom: 0;
    text-align: center;
}

.echo-modal-card-bottom-2 h3 {
    word-wrap: normal;
    height: 2rem;
    overflow: hidden;
    font-size: 1.1rem;
}

.echo-modal-cards-2:hover h3 {
    word-break: normal;
    overflow: visible;
}

img.stat-Icons {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.Image-addEcho-input {
    display: none;
}

.custom-file-upload {
    background-color: black;
    color: white;
    border: 1px solid azure;
    border-radius: 8px;
    padding: 2px 8px;
    cursor: pointer;
}

.image-process-btn {
    background-color: black;
    color: white;
    border: 1px solid azure;
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
}

.calcEcho-modal-add-flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process-img-intsruction {
    padding: 0 10px;
    background: rgb(63, 63, 62);
    background: linear-gradient(252deg, rgba(94, 91, 86, 0) 0%, rgb(70, 70, 70) 40%);
    border-radius: 12px 0 0 12px;
}

.example-echo-img {
    width: 350px;
}

@media (max-width: 1100px) and (min-width: 1024px) {
    .calcEcho-modal-box-2 {
        width: 90vw;
    }
}

@media (max-width: 1024px) and (min-width: 320px) {
    .calcEcho-modal-box-2 {
        width: 85vw;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }

    .CalcEcho-modal-btn {
        padding: 4px 8px;
        font-size: 1.1rem;
    }

    .calcEcho-modal-store-box {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .echo-modal-stats {
        grid-column: 4 / 7;
    }

    .echo-stat-box-name {
        font-size: 18px;
        font-weight: 800;
    }

    .echo-modal-stats-box h3 {
        font-size: 16px;
        margin: 3px 10px;
    }

    h3.margin-box-text {
        font-size: 16px;
        margin: 3px 10px;
    }

    .echo-modal-btn-box {
        flex-direction: column;
    }

    .echo-modal-delete-btn {
        margin-top: 0;
    }

    .calcEcho-modal-box-3 {
        width: 85vw;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }

    .calcEcho-modal-add-box-2 {
        grid-column: 4 / 7;
    }

    .example-echo-img {
        width: 280px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .CalcEcho-Modal-Container {
        padding: 10px;
    }
    
    .calcEcho-modal-store-box {
        grid-column: 1 / 7;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
    }

    .calcEcho-modal-add-box-select {
        border: none;
    }

    .echo-modal-stats-box {
        justify-items: normal;
    }

    .calcEcho-modal-box-2 {
        padding: 10px;
    }

    .echo-modal-stats {
        display: none;
        transform: translateY(-100%);
    }

    .echo-modal-stats-sidebar {
        grid-column: 3 / 7;
        display: block;
        position: fixed;
        top: 49px;
        right: 0;
        background-color: #000000d2;
        z-index: 2;
        height: 70vh;
        padding: 0 10px ;
        overflow-y: auto;
        transform: translateY(0);
    }

    .echo-modal-menu {
        position: absolute;
        right: 10px;
        top: 5px;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .calcEcho-modal-box-3 {
        padding: 10px;
    }

    .calcEcho-modal-add-box-2 {
        display: none;
        transform: translateY(-100%);
    }

    .calcEcho-modal-add-box {
        grid-column: 1 / 7;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .calcEcho-modal-add-box-select {
        grid-column: 1 / 7;
    }

    .calcEcho-modal-add-box-2-sidebar {
        grid-column: 3 / 7;
        display: block;
        position: fixed;
        right: 0;
        background-color: #000000;
        z-index: 2;
        height: 67vh;
        width: 84vw;
        margin: 0 11px;
        padding: 0 10px;
        overflow-y: auto;
        transform: translateY(0)
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .calcEcho-modal-store-box {
        grid-template-columns: repeat(3, 1fr) ;
    }

    .calcEcho-modal-box-2 {
        width: 100vw;
        height: 100vh;
    }

    .calcEcho-modal-box-3 {
        width: 100vw;
        height: 100vh;
    }

    .calcEcho-modal-add-box-2-sidebar {
        height: 97vh;
        width: 98vw;
    }

    .echo-modal-stats-sidebar {
        height: 100vh;
        width: 80vw;
    }

    .calcEcho-modal-add-box {
        grid-template-columns: repeat(3, 1fr);
    }

    .CalcEcho-modal-btn {
        padding: 4px 8px;
        font-size: 1rem;
        margin: 5px 0;
        margin-right: 5px;
    }

    .example-echo-img {
        width: 250px;
    }
}