.container-chara-page {
    max-width: 1440px;
    margin: auto;
    margin-top: 40px;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

.characters-background {
    width: 100%;
    height: 100%;
    background-image: url("https://whisperingsea.github.io/wuthering-waves-assets/images/Bg-1.jpg");
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.chara-page-section {
    height: max-content;
    margin: 10px 60px;
}

.chara-page-section-2 {
    height: auto;
    margin: 10px 60px;
}

.chara-flexbox {
    height: 520px;
    display: flex;
    align-items: center;
    gap: 70px;
}

.left-flex {
    flex: 15%;
}

.right-flex {
    margin: auto;
    flex: 50%;
    text-align: left;
}

.chara-cards {
    margin: auto 60;
}


@media (max-width: 1024px) and (min-width: 768px) {
    .container-chara-page {
        margin-top: 30px;
    }

    .chara-flexbox {
        gap: 20px;
    }

    .chara-page-section {
        margin: 10px 30px;
    }

    .chara-page-section-2 {
        margin: 10px 30px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .container-chara-page {
        margin-top: 50px;
    }

    .chara-flexbox {
        gap: 10px;
        flex-direction: column;
        height: max-content;
    }

    .chara-page-section {
        margin: 10px 10px;
    }
    
    .chara-page-section-2 {
        margin: 10px 10px;
    }

    .chara-cards {
        margin: auto 10px;
    }

    .left-flex {
        width: 200px;
    }

    .right-flex {
        text-align: center;
    }
}


@media (max-width: 480px) and (min-width: 320px) {
    .chara-flexbox {
        gap: 0;
    }

    .left-flex {
        width: 150px;
    }
}