.container-chara-page {
    max-width: 1440px;
    margin: auto;
    margin-top: 40px;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

.characters-background {
    width: 100%;
    height: 100%;
    background-image: url("https://sohansc13.github.io/wuthering-waves-assets/images/Bg-1.jpg");
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.chara-page-section {
    height: 600px;
    margin: 10px 60px;
}

.chara-page-section-2 {
    height: auto;
    margin: 10px 60px;
}

.chara-flexbox {
    height: 520px;
    display: flex;
    align-items: center;
    gap: 70px;
}

.left-flex {
    flex: 15%;
}

.right-flex {
    margin:  auto;
    flex: 50%;
    text-align: left;
}

.chara-cards {
    margin: auto 60;
}