.echo-scorer-page-container {
    max-width: max-content;
    margin: auto;
    min-height: 95vh;
}

.scorer-background {
    width: 100%;
    height: 100%;
    background-image: url("https://sohansc13.github.io/wuthering-waves-assets/images/Bg-4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.no-center {
    text-align: left;
}

.scorer-sidebar {
    width: 50px;
    height: 100vh;
    padding-top: -20px;
    left: 0;
    background-color: rgb(36, 36, 36);
    transition: width 0.4s ease;
    position: fixed;
    z-index: 9999;
}

.scorer-sidebar-img {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    object-fit: contain;
    text-align: center;
}

.menu-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.scorer-sidebar:hover {
    width: 150px;
}

.scorer-sidebar-menu {
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: center;
    font-size: 1.1rem;
    justify-content: center;
}

.menu-show {
    opacity: 1;
    transform: translateY(0);
}

.scorer-sidebar-link {
    font-size: 1.3rem;
    padding: 20px;
    color: azure;
    text-decoration: none;
    cursor: pointer;
}

.scorer-sidebar-link:hover {
    background-color: #343434;
}

.echo-scorer-grid {
    width: 1255px;
    background-color: rgb(11, 42, 63);
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 40px;
    display: grid;
    gap: 5px;
    padding: 10px;
    border-radius: 8px;
    grid-template-columns: repeat(14, 85px);
    grid-template-rows: 1fr repeat(5, 130px);
}

.scorer-item-1 {
    padding: 10px 60px;
    text-align: center;
}

.scorer-item-2 {
    position: relative;
    width: 100%;
    grid-column: 1 / 6;
    grid-row: 2 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
    background-color: rgb(17, 55, 80);
}

.image-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: absolute;
    bottom: 20px;
}

.controls button {
    margin: 0 5px;
    z-index: 1;
}

.scorer-item-resonannce {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.custom-file-label {
    display: none;
    
}

.scorer-item-2:hover .custom-file-label {
    background-color: rgb(5, 70, 100);
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    background-color: rgb(10, 89, 134);
    border: 1px solid #9b9b9b;
    color: white;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.scorer-item-2:hover .custom-file-label:hover {
    background-color: #179397;
}

.scorer-img-reset {
    display: none;
}

.scorer-item-2:hover .scorer-img-reset {
    display: block;
    position: absolute;
    top: 40px;
    left: 10px;
    width: 72px;
    padding: 3px 10px;
    background-color: rgb(10, 89, 134);
    border: 1px solid #9b9b9b;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.scorer-item-2:hover .scorer-img-reset:hover {
    background-color: #179397
}

.scorer-item-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.scorer-item-3 {
    grid-column: 6 / 11;
    grid-row: 2 / 5;
    text-align: center;
}

.scorer-item-3 h3 {
    font-size: 1.1rem;
    margin: 5px;
}

.scorer-img-flex {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.scorer-item-img-rarity {
    width: 30%;
    object-fit: contain;
    margin: 0;
}

.scorer-item-img-element {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 0;
}

.scorer-item-4 {
    grid-column: 11 / 15;
    grid-row: 2 / 3;
}

.scorer-item-5 {
    grid-column: 11 / 15;
    grid-row: 3 / 4;
}

.scorer-item-6 {
    grid-column: 11 / 15;
    grid-row: 4 / 5;
}

.scorer-item-7 {
    grid-column: 11 / 15;
    grid-row: 5 / 6; 
}

.scorer-item-8 {
    grid-column: 11 / 15;
    grid-row: 6 / 7;
}

.scorer-item-9 {
    grid-column: 1 / 6;
    grid-row: 6 / 7;
}

.scorer-item-10 {
    grid-column: 6 / 11;
    grid-row: 6 / 7;
}