.echo-scorer-page-container {
    max-width: 1440px;
    margin: auto;
    min-height: 95vh;
}

.scorer-background {
    width: 100%;
    height: 100%;
    background-image: url("https://whisperingsea.github.io/wuthering-waves-assets/images/Bg-4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


.Scorer-Note {
    text-align: center;
    background-color: rgb(211, 59, 59);
    border: 1px solid azure;
    border-radius: 4px;
}

.no-center {
    text-align: left;
}

.echo-scorer-section {
    display: flex;
    margin: 0 60px;
    flex-direction: column;
    align-items: center;
}

.image-center-div {
    margin: 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Scorer-Image-Section {
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;

    scrollbar-width: thin;
    scrollbar-color: #1565a7 #000000;
}

.Scorer-Image-Section::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.Scorer-Image-Section::-webkit-scrollbar-thumb {
    background-color: #1565a7;
    border-radius: 10px;
}

.Scorer-Image-Section::-webkit-scrollbar-track {
    background-color: #000000;
}

.Scorer-Image-Section::-webkit-scrollbar-button {
    background-color: #ffffff;
}

.echo-scorer-grid {
    width: 1200px;
    height: 450px;
    background-color: rgb(11, 42, 63);
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 0px;
    border-radius: 8px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.scorer-bar {
    padding: 10px 30px;
    width: 100%;
    text-align: center;
}

.scorer-item-1 {
    position: relative;
    width: 100%;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: none;
    border-radius: 8px 0 0 8px;
    z-index: 1;
    overflow: hidden;
    background-color: rgb(17, 55, 80);
}

.image-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.character-image  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: absolute;
    bottom: 20px;
}

.controls button {
    margin: 0 5px;
    z-index: 1;
}

.scorer-item-resonance {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.custom-file-label {
    display: none;
    
}

.scorer-item-1:hover .custom-file-label {
    background-color: rgb(5, 70, 100);
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    background-color: rgb(10, 89, 134);
    border: 1px solid #9b9b9b;
    color: white;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.scorer-item-1:hover .custom-file-label:hover {
    background-color: #179397;
}

.scorer-img-reset {
    display: none;
}

.scorer-item-1:hover .scorer-img-reset {
    display: block;
    position: absolute;
    top: 40px;
    left: 10px;
    width: 72px;
    padding: 3px 10px;
    background-color: rgb(10, 89, 134);
    border: 1px solid #9b9b9b;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.scorer-item-1:hover .scorer-img-reset:hover {
    background-color: #179397
}

.scorer-item-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.scorer-item-2 {
    grid-column: 4 / 10;
    border-left: 1px solid azure;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scorer-chara-name {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    width: max-content;
}

.scorer-top-flexbox {
    display: flex;
}

.scorer-img-flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.scorer-image-flex {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.scorer-chara-level {
    margin: 0;
}

.scorer-item-img-rarity {
    width: 30%;
    object-fit: contain;
    margin: 0;
}

.scorer-item-img-element {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin: 0;
}

.scorer-item-3 {
    grid-column: 10 / 14;
    padding: 10px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-manipulation-btn {
    border: 1px solid azure;
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
}

.image-manipulation-btn:hover {
    background-color: #666;
}

@media (max-width: 1024px) and (min-width: 481px) {
    .echo-scorer-section {
        margin: 0 30px;
    }
    
    .image-center-div {
        margin: 0 30px;
    }

    .scorer-bar {
        padding: 10px 0;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .echo-scorer-section {
        margin: 0 10px;
    }

    .Scorer-Image-Section {
        width: calc(1000px * 0.7);
        height: calc(450px * 0.7)
    }

    .echo-scorer-grid {
        zoom: 0.7;
    }

    .image-center-div {
        margin: 0 10px;
    }

    .scorer-bar {
        padding: 10px 0;
    }
}