.guide-background {
    z-index: -1;
}

.guide-container {
    min-height: 100vh;
    padding-top: 50px;
}

.centerize {
    max-width: 1440px;
    margin: auto;
}

.guide-section {
    margin: 10px 60px;
}

.guide-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat( 12, 1fr);
    grid-template-rows: repeat( 4, 100px ) 50px;
    gap: 10px;
}

.stats-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: repeat( 4, 60px );
    gap: 10px;
    align-items: center;
}

.guide-grid-2 h2 {
    margin-left: 20px;
}

.guide-grid-item-1 {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    padding: 10px 30px;
    border: 1px solid azure;
}

.grid-item-1-flex {
    display: flex;
    gap: 20px;
    align-items: center;
}

.guide-paragraph {
    font-size: 24px;
}

.rarity-icon {
    height: 26px;
}

.flexbox-range {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40px;
    font-size: 20px;
}

.slider-input {
    width: 400px;
    cursor:grab;
}

.stats-flexbox {
    display: flex;
    flex-wrap: wrap;
}

.stats-flexbox h2 {
    flex-grow: 8;
}

.guide-grid-item-0 {
    font-size: 20px;
}

.guide-grid-item-2 {
    grid-column: 1 / 9;
    grid-row: 2 / 6;
    padding: 10px 30px;
    border: 1px solid azure;
}

.guide-grid-item-3 {
    grid-column: 9 / 13;
    grid-row: 1 / 6;
    padding: 5px;
    border: 1px solid azure;
    font-size: 0;
}

.guide-grid-item-3 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.page-link-grid {
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    border-bottom: 1px solid azure;
    border-top: 1px solid azure;
}

.page-link-ref {
    width: max-content;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 0;
}

.page-link {
    width: max-content;
    font-size: 20px;
    text-decoration: none;
    color: #5350ff;
    margin: 10px 0;
}

.page-link:hover {
    text-decoration: underline;
}

.mat-flexbox {
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
}

.materials {
    margin: 60px;
}

.mat-item {
    font-size: 20px;
}

@media (max-width: 1024px) and (min-width: 320px) {
    .guide-section {
        margin: 10px 30px;
    }

    .stats-grid {
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
    }

    .guide-grid {
        grid-template-rows: 60px repeat(4, max-content);
    }

    .guide-grid-item-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }

    .guide-chara-name {
        margin: 5px 0;
        font-size: 35px;
    }

    .guide-grid-item-3 img {
        height: auto;
    }

    .page-link-grid {
        margin: 30px;

    }

    .mat-flexbox {
        padding: 0;
    }

    .mat-item {
        font-size: 18px;
    }
}

@media (max-width: 1024px) and (min-width: 320px) {
    .guide-container {
        padding-top: 30px;
    }
    
    .page-link-grid {
        display: none;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .guide-grid {
        grid-template-rows: repeat(3, max-content)
    }

    .guide-grid-item-1 {
        grid-column: 1 / 13;
        grid-row: 2 / 3;
    }

    .grid-item-1-flex {
        flex-direction: column;
        align-items: center;
        row-gap: 0px;
    }

    .guide-grid-item-2 {
        grid-column: 1 / 13;
        grid-row: 3 / 4;
        row-gap: 0;
    }

    .stats-grid {
        margin: 10px 0;
    }

    .guide-grid-item-3 {
        grid-column: 1 / 13;
        grid-row: 1 / 2;
        text-align: center;
        font-size: 0;
    }

    .guide-grid-item-3 img {
        width: 200px;
        height: auto;
        object-fit: contain;
    }

    .guide-chara-name {
        margin: 0;
        font-size: 24px;
    }

    .guide-paragraph {
        font-size: 18px;
    }

    .materials {
        margin: 0 30px;
    }

    .mat-flexbox {
        flex-direction: column;
    }

    .switch {
        height: 20px;
        width: 40px;
    }

    
    input:checked+.slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    .slider:before {
        height: 12px;
        width: 12px;
    }

    .slider.round {
        border-radius: 16px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .chara-mat-type {
        font-size: 24px;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .guide-grid {
        gap: 5px;
    }

    .guide-grid-item-2 {
        padding: 5px 10px;
    }

    .flexbox-range {
        gap: 10px;
        width: 100%;
        height: max-content;
        font-size: 16px;
    }

    .flexbox-range p {
        margin: 0;
    }

    .slider-input {
        width: auto;
    }

    .stats-grid {
        gap: 5px;
    }

    .center-header {
        margin: 10px 0;
        font-size: 22px;
    }
    
    .chara-mat-type {
        font-size: 22px;
    }

    .mat-item {
        font-size: 16px;
    }

    .chara-ascension-list {
        margin: 10px;
    }
}