.weapon-page-container {
    max-width: 1440px;
    margin: auto;
    padding-top: 60px;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

.weapon-page-bg {
    width: 100%;
    height: 100%;
    background-image: url("https://whisperingsea.github.io/wuthering-waves-assets/images/Bg-1.jpg");
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.weapon-page-section {
    margin: 10px 60px;
}

.weapon-search-bar-holder {
    margin: 60px 0;
}

.weapon-card-holder {
    margin: 60px 0;
}

.header-2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 5px;
}

.weapon-card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.weapon-cards {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
    border-radius: 12px;
    border: 1px solid azure;
}

.weapon-cards:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.weapon-card-top {
    text-align: center;
    font-size: 0;
}

.weapon-cards img {
    width: 100px;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    border-bottom: 2px solid white;
}

.weapon-card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    height: 60px;
}

.weapon-name-text {
    font-size: 18px;
    margin: 10px 0;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.card-link {
    display: block;
    text-decoration: none;
}

.No-Match {
    grid-column: span 5;
    text-align: center;
}

@media (max-width: 1024px) and (min-width: 320px) {
    .weapon-card-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .weapon-name-text {
        min-width: 110px;
        font-size: 16px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .weapon-page-section {
        margin: 0 30px;
    }

    .weapon-card-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .weapon-cards {
        padding: 10px;
    }

    .weapon-name-text {
        min-width: 100px;
        font-size: 15px;
    }

    .weapon-search-bar-holder {
        margin: 30px 0;
    }

    .weapon-card-holder {
        margin: 30px 0;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .weapon-page-section {
        margin: 0 10px;
    }

    .weapon-card-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .weapon-cards {
        padding: 10px;
        border-radius: 8px;
    }

    .weapon-name-text {
        min-width: 100px;
        font-size: 15px;
    }

    .weapon-search-bar-holder {
        margin: 10px 0;
    }

    .weapon-card-holder {
        margin: 10px 0;
    }
}