.card {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(78, 78, 75, 0.5) 100%);
    padding: 25px 25px;
    border-radius: 12px;
    border: 1px solid azure;
}

.grid {
    display: grid;
    grid-template-columns: repeat( 5, 1fr );
    gap: 10px;
    justify-content: center;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    border-bottom: 2px solid white;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(240, 255, 255, 0.644);
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.bottom {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}

.card-link {
    color: white;
    text-decoration: none;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .bottom {
        margin-top: 0px;
        font-size: 18px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        text-align: center;
    }

    .bottom {
        margin-top: 0px;
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .grid {
        gap: 5px;
    }

    .card {
        padding: 10px;
        border-radius: 8px;
    }

    .bottom {
        font-size: 14px;
    }
}