.echo-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.echo-card {
    padding: 25px 25px
}

.echo-card img {
    width: 120px;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    border-bottom: 2px solid white;
}

.echo-card-bottom {
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 20px;
}

.echo-cost {
    margin-top: 0;
    margin-bottom: 10px;
}

.echo-name {
    font-size: 24px;
    text-decoration: underline;
    margin: 5px 0;
}

.echo-skill {
    font-size: 18px;
}

.No-Match {
    grid-column: span 2;
    text-align: center;
}

@media (max-width: 1024px) and (min-width: 320px) {
    .echo-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .echo-card img {
        width: 100px;
    }

    .echo-card-bottom {
        margin-left: 0;
    }

    .echo-name {
        font-size: 22px;
    }

    .echo-cost {
        font-size: 20px;
    }

    .echo-skill {
        font-size: 18px;
        margin: 0;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .echo-skill {
        font-size: 16px;
    }

    td, th {
        font-size: 14px;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .echo-card-grid {
        grid-template-columns: 1fr;
    }

    .echo-card {
        padding: 10px;
    }

    .echo-name {
        font-size: 20px;
    }

    .echo-cost {
        font-size: 18px;
        margin: 0;
    }
}