.scorer-weaponCard-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: default;
    width: max-content;
}

.scorer-weaponCard-btn {
    position: relative;
    height: 100px;
    padding-bottom: 5px;
    border-bottom: 1px solid azure;
    border-right: 1px solid azure;
    border-radius: 10px;
}

.scorer-weaponCard-info {
    width: 100%;
}

.scorer-weaponCard-rarity {
    width: max-content;
    height: 23px;
    position: absolute;
    bottom: 0px;
    left: -1px;
    right: 0px;
    margin: 0;
}

.scorer-weaponCard-flex {
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 3px;
    align-items: center;
    justify-content: space-between;
}

.scorer-weaponCard-flex-2 {
    display: flex;
    gap: 20px;
}

.scorer-weaponCard-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 8px;
    border: 1px solid #ffe5e5;
    cursor: pointer;
    font-size: 0;
}

.white-border {
    border: 1px solid azure;
}

h3.scorer-weaponCard-text-name {
    font-size: 1.2rem;
    margin: 0;
}

h3.scorer-weaponCard-text {
    font-size: 1rem;
    margin: 0;
}

.weapon-card-flexbox {
    display: flex;
    gap: 5px;
    align-items: center;
}

h3.scorer-weaponCard-rank {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: #176396;
    color: rgb(255, 255, 255);
    z-index: 1;
}