.scorer-echoCard-grid {
    position: relative;
    display: grid;
    grid-template-columns: 80px 60px 1px 75px 1px 75px;
    column-gap: 10px;
    border: 1px solid #777;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(17, 55, 80);
    cursor: default;
}


/* Echo Image CSS */

.echo-img-box {
    width: 80px;
    height: 80px;
    position: relative;
}

.add-echo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid rgb(118, 161, 161);
    border-radius: 8px;
    cursor: pointer;
}

.scorer-echo-image {
    width: 100%;
    height: auto;
    border: 1px solid rgb(118, 161, 161);
    border-radius: 8px;
    object-fit: contain;
    cursor: pointer;
}

.scorer-echo-name {
    margin: 0;
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    padding: 0 3px;
    left: 0;
    width: max-content;
    border-radius: 8px;
    background-color: rgb(35, 78, 107);
}

/* Echo Stats */

.scorer-echo-stat-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.scorer-echo-stat-mini-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scorer-echo-stat-icon {
    width: 20px;
    height: 20px;
}

.scorer-echo-stat {
    margin: 0px;
    font-size: 15px;
}

.Main-stat {
    color: gold;
}

.scorer-echoCard-item-divider {
    border-right: 1px solid azure;
    height: 80%;
}

.echo-score-text {
    text-align: center;
    margin: 5px;
    font-size: 18px;
    color: white;
    text-shadow: 0 0 2px #fff,
        0 0 4px #ffd900d0,
        0 0 6px #ffd900ce,
        0 0 8px #ffae00c2;
}

.no-echo {
    width: max-content;
    margin: 0;
    font-size: 16px;
}