/* Stats Window */
.calcStats-section {
  display: flex;
  width: 100%;
  gap: 20px;
}

.calcStats-section div {
  flex-grow: 2;
}

.calc-stats {
  flex-grow: 2;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 5px;
  gap: 0;
  padding: 3px 0;
}

.scorer-stat-Icons {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.even-stat {
  background-color: rgb(34, 34, 34);
}

.scorer-stat-name {
  text-align: start;
  flex-grow: 1;
}

.calc-stats h3 {
  margin: 0;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 600;
}