/*Basic Attack Calc*/

.CalcSKill-Container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid azure;
    column-gap: 10px;
}

.calcSkill-item-1 {
    margin: 5px 20px;
}

.calcSkill-item-1-h3 {
    text-decoration: underline;
}

.calcSkill-item-1 h3 {
    margin: 0;
    font-size: 1.1rem;
}

.calcSkill-item-2 {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.Crit-item {
    background-color: rgb(34, 34, 34);
}