.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    background-color: black;
}

.navbar-wrapper-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    background-color: black;
}

.echo-scorer-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    background-color: black;
}

.navbar-hidden {
    transform: translateY(-100%);
}

.navbar-visible {
    transform: translateY(0);
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
    height: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.list-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.active-navTab .nav-link {
    background-color: #666;
}

.list-item:not(.active-navTab) .nav-link:hover {
    text-decoration: double;
    background-color: #444;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    color: white;
}

.logo-link:hover {
    transform: scale(1.2);
}

.btn {
    font-size: 16px;
    padding: 8px 24px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .navbar {
        padding: 0 30px;
    }
}

@media (max-width: 767px){
    .navbar-wrapper {
        display: none;
    }
}