.sidebar-container {
    position: relative;
}

.sidebar-icon-box {
    display: flex;
    border: 1px solid azure;
    align-items: center;
    border-radius: 8px;
    border-left: none;
    padding: 0 5px;
}

.sidebar-icon-box h3 {
    margin: 0;
    padding: 0 5px;
}

.sidebar-link {
    font-size: 1.5rem;
    padding: 20px;
    padding-left: 40px;
    color: azure;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(77, 77, 77);
}

.sidebar-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar-list {
    height: 100%;
    width: 40%;
    background-color: rgba(17, 17, 17, 0.897);
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px 0 0 12px;
}