.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}

.echo-scorer-sideNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}

.sidebar-hidden {
    transform: translateY(-100%);
}

.sidebar-visible {
    transform: translateY(0);
}

.sidebar-icon-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 5px;
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
}

.sidebar-link {
    font-size: 1rem;
    padding: 10px;
    padding-left: 40px;
    color: azure;
    text-decoration: none;
    cursor: pointer;
}

.active-navTab .sidebar-link {
    background-color: #666;
}

.sidebar-link:hover {
    background-color: rgb(77, 77, 77);
}

.sidebar-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    z-index: 1000;
}

.sidebar-list {
    height: 100vh;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.897);
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
}

@media (min-width: 768px) {
    .sidebar-wrapper {
        display: none;
    }
}