.chara-name {
    font-weight: 700;
    font-size: 26px;
}

.chara-bio {
    font-size: 20px;
    font-weight: 600;
}

p.ele {
    font-size: 20px;
}

p.weap {
    font-size: 20px;
}

p.rare {
    font-size: 20px;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .chara-name {
        font-size: 22px;
    }

    .chara-bio {
        font-size: 18px;
    }

    p.ele {
        font-size: 18px;
    }

    p.weap {
        font-size: 18px;
    }

    p.rare {
        font-size: 18px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .chara-bio {
        font-size: 16px;
    }

    .chara-name {
        margin: 5px;
    }

    p.ele {
        font-size: 16px;
    }

    p.weap {
        font-size: 16px;
    }

    p.rare {
        font-size: 16px;
    }
}
