.Scorer-Resonance-Container {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.Scorer-resonance-box {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: rgb(17, 55, 80);
    border-radius: 4px;
    border: 1px solid azure;
    border-left: 0;
    border-top: 0;
    cursor: pointer;
}

.res-num {
    margin: 0;
}

.res-list-drop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    text-align: center;
    background-color: #1565a7;
    cursor: pointer;
}

.res-list-drop:hover {
    background-color: #1d8ce7;
    border-radius: 4px;
    transform: scale(1.05);
}

.scorer-res-dropdown {
    position: absolute;
    width: 100%;
    top: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}