.image-slider {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-slider.horizontal .slider-container {
    display: flex;
}

.image-slider.vertical .slider-container {
    display: flex;
    flex-direction: column;
}

.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    flex-shrink: 0;
}

.slider-image.prev,
.slider-image.next {
    transform: scale(0.8);
    opacity: 0.5;
}

.slider-image.active {
    transform: scale(1);
    opacity: 1;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}