.sequence-box {
    margin: 20px 0;
    padding: 20px 20px;
    color: white;
}

.center-header {
    text-align: center;
    border: 3px solid;
}

.sequence-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sequence-header:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sequence-info {
    flex: 1;
}

.sequence-image {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-left: 15px;
}

.sequence-node {
    font-size: 16px;
    margin: 0;
}

.sequence-name {
    font-size: 24px;
    margin: 0;
}

.sequence-desc-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.sequence-desc-wrapper.open {
    max-height: 500px; /* Adjust as needed to fit content */
    overflow: visible;
}

.sequence-desc {
    font-size: 20px;
    margin: 10px 0px;
    padding-top: 10px;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .sequence-box {
        padding: 20px 30px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .sequence-box {
        padding: 10px;
    }

    .sequence-name {
        font-size: 22px;
    }

    .sequence-desc {
        font-size: 18px;
    }

    .center-header {
        margin: 5px 0px;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .sequence-box {
        padding: 10px;
        margin: 10px 0;
    }

    .sequence-name {
        font-size: 20px;
    }

    .sequence-desc {
        font-size: 16px;
    }
}