.WWSkills-container {
    margin-top: 60px;
}

.center-header {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 1px;
}

.tab-flexbox {
    display: flex;
    position: relative;
}

.sticky-flexbox {
    display: flex;
    height: max-content;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-top: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
}

.tab-link {
    font-size: 18px;
    padding: 4px 12px;
    color: white;
    border: azure 1px solid;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
    background-color: transparent;
}

.tab-link:hover {
    background-color: rgba(255, 255, 255, 0.315);
}

.tab {
    margin-left: 30px;
    flex-grow: 3;
}

.skill-name {
    display: block;
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 0;
    border: 1px white solid;
    cursor: default;
}

.Desc {
    margin: 0 20px;
    font-size: 20px;
}

.multi-flex {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid azure;
    margin-bottom: 5px;
}

.multi-link {
    display: block;
    background-color: transparent;
    color: white;
    width: 100%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 50px;
    border: 1px white solid;
    cursor: pointer;
    padding: 5px;
}

.multi-tab {
    display: none;
}

.showMulti {
    display: block;
}

.skill-detail-num {
    text-align: right;
    width: auto;
}

.multi-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}
.slider-multi-input {
    grid-column-start: 1;
    grid-column-end: 12;
    cursor: grab;
}

.slider-multi-value {
    text-align: right;
}

.tab-flexbox + .show-tab-1 {
    display: block;
}

.hide-tab-1 {
    display: none;
}